@import "variables.scss";

header.masthead {
  background: linear-gradient(155deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(155deg, rgba(0, 169, 157, 0.7), rgba(173, 75, 255, 0.7)), url(../img/academy/academy_banner.jpg);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
}

.discord-btn {
  margin-top: 10px;
  color: white;
  background: $gray-900;
  display: inline-block;
  border: $gray-400;
  padding: 10px 50px;
  transition: 0.12s;

  &:hover {
    background: $primary;
    text-decoration: none;
    color: white;
  }
}

.unity-box {
  margin-top: 40px;

  .unity-btn {
    color: white;
    background: $gray-900;
    line-height: 1.75;
    border: $gray-400;
    padding: 15px 20px;
    transition: 0.12s;

    &:nth-child(1) {
      background: $gray-800;
    }

    &:hover {
      background: $primary;
      text-decoration: none;
    }
  }
}

.promo-code {
  margin-top: 50px;

  #coupon {
    font-weight: bold;
    text-transform: uppercase;
    background: $white;
    padding: 10px 20px;
    border: 3px dashed $primary;
    margin-left: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }
}

.invite {
  margin-top: 40px;
  color: white;
  background: $gray-900;
  line-height: 1.75;
  border: $gray-400;
  padding: 20px 20px;
  transition: 0.12s;

  &:hover {
    background: $primary;
    text-decoration: none;
    color: white;
  }
}